.container {
	position: relative;
	display: flex;
	top: 9.7%;
	z-index: -1;
}

.flower {
  width: 39.7em;
  right: 0.2%;
	position: relative;
}

img {
	padding: 1%;
	float: left;
	width: 50%;
}

p {
	font-size: 18.5px;
}
