/*
@media screen
  and (max-width: 360px)
  and (max-height: 640px)
  and (-webkit-device-pixel-ratio: 3){

  .square {
    display: flex;
    flex-direction: row;
    width: 40px;
    height: 40px;
    position: relative;
    top: 15px;
    border-radius: 6px;
    display: inline-block;
    left: 20px;

  }

  .square span {
    font-size: 26px;
    padding-top: 10px;
  }

  nav a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: .9em;
    padding-right: .1em;
    padding-left: .1em;
    color: #15B5CB;
  }

  .opening {
    color: #635EDE;
    font-size: 0em;
    font-weight: 1800;
    padding-right: .1em;
  }

  .ending {
    font-size: .8em;
  }

  .nyketha {
    height: 200px;
    width: 300px;
    position: relative;
    left: 20px;
  }

  img {
    height: 200px;
    width: 300px;
    right: 8px;
  }

  .tech {
    font-size: 13px;
  }

  button {
    border: none;
    padding: 3px 8px 3px 8px;
    box-shadow: 1px 1px 4px #DADADA;
    border-radius: 2px;
    color: #FFF;
    font-size: 14px;
  }

  i {
    font-size: 30px;
  }

  p {
    font-size: 15px;
  }

  .skills {
    font-size: 17px;
  }

  img {
    height: 90px;
    width: 110px;
  }

}*/

/*internet explorer*/

/*@media screen and (max-width:400px) {
    @-ms-viewport{
        width: 320px;
    }
}*/

/*protrait and landscape media query for the header and sections: about me, projects, skills, resume for
ipad and ipad pro and the landscape for iphone 6 plus*/
@media (max-width: 800px) {

  nav a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 80%;
    padding-right: 48px;
    color: #A593E0;
  }

  a {
    text-decoration: none;
    color: #A593E0;
  }

  nav a:hover {
    padding: 2%;
  }

  h2 {
    font-weight: 900;
    font-size: 260%;
    color: #566270;
    padding: 1px;
    margin: 10px;
    text-transform: lowercase;
    position: relative;
  }

  .opening {
    color: #635EDE;
    font-size: 88%;
    font-weight: 800;
    padding-right: 6px;
    padding-left: 10px;
  }


}

/*landscape media query for the header and sections: about me, projects, skills, resume for
iphone 6, Nexus6, galaxy s5 */
@media (max-width: 667px) {

  nav a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 80%;
    padding-right: 34px;
    color: #A593E0;
  }

  a {
    text-decoration: none;
    color: #A593E0;
  }

  nav a:hover {
    padding: 1%;
  }

  .opening {
    color: #635EDE;
    font-size: 80%;
    font-weight: 800;
    padding-right: 4px;
    padding-left: 8px;
  }

  .skills {
    font-size: 100%;
    font-weight: bold;
    color: #000;
  }

  .iconp {
    padding: 10px;
    font-size: 95%;
    color: #000;
    font-weight: bold;
  }

  i {
    font-size: 350%;
  }

  .aboutp {
  	font-size: 100%;
  }

}

/*landscape media query for iphone 5 for header and sections: about me, projects, skills, resume*/
@media (max-width: 568px) {

  nav a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 65%;
    padding-right: 29px;
    color: #A593E0;
  }

  a {
    text-decoration: none;
    color: #A593E0;
  }

  nav a:hover {
    padding: 0%;
  }

  .opening {
    color: #635EDE;
    font-size: 75%;
    font-weight: 800;
    padding-right: 3px;
    padding-left: 8px;
  }

  .aboutp {
  	font-size: 80%;
  }

  .skills {
    font-size: 95%;
    font-weight: bold;
    color: #000;
  }

  .iconp {
    padding: 10px;
    font-size: 90%;
    color: #000;
    font-weight: bold;
  }

  i {
    font-size: 300%;
  }

  button {
    border: none;
    padding: 8px 15px 8px 15px;
    box-shadow: 1px 1px 4px #DADADA;
    border-radius: 2px;
    color: #FFF;
    font-size: 45%;
  }

  .projectp {
    font-size: 85%;
  }

  .projecttitle {
    font-size: 100%;
    font-weight: bold;
  }

  .tech {
    font-size: 90%;
  }

  figcaption {
    border: 1px solid #FCFCFC;
    width: 60%;
    right: -11.6%;
    margin-top: -2.4%;
    position: relative;
    z-index: -1;
    background-color: #FCFCFC;
    box-shadow: 3px 3px 7px #DADADA;
  }

}
