/*site is responsive and is already formatted for the following:
Blackberry playbook, all sections except home, funky and only the landscape view;
Kindle Fire HD, all sections in landscape and protrait except homepage;
Laptop with HiDPI screen, all sections
Laptop with MDPI screen, all sections except home, animation is off
Laptop with touch, all sections except home, animation is off
Nexus 10, all sections, except home, animation is a little funky for landscape and protrait
iPad Mini, all sections except home for both landscape and protrait, funky
iPad, all sections except home, funky in both landscape and protrait
iPad Pro, all sections except home in landscape and protrait which is funky */


/*landscape media queries begins*/

/*landscape media query for homepage for iPad pro */
@media (max-width: 1366px) {

  .squarecontainer {
    margin-top: 38%;
  }

}

/*landscape media query for homepage for Laptop with touch*/

@media (max-width: 1280px) {

  .squarecontainer {
    margin-top: 40%;
  }

}

/*landscape media query for homepagefor iPad, iPad Mini (allegedly Blackberry Playbook)*/
@media (max-width: 1240px) {

  .nykethafront {
  	width: 18%;
    position: absolute;
    top: 14%;
    left: 40%;
    z-index: -1;
  }

}

/*protrait media query for iPad pro*/

@media (max-width: 1024px) {

  .squarecontainer {
    margin-top: 60%;
  }

}

/*landscape media query for the header for Nexus 7; all sections are already media queried*/
/*home page is media queried for Nexus 7 */

@media (max-width: 960px) {

  nav a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 86%;
    padding-right: 43px;
    color: #A593E0;
  }

  a {
    text-decoration: none;
    color: #A593E0;
  }

  .opening {
    color: #635EDE;
    font-size: 100%;
    font-weight: 800;
    padding-right: 6px;
    padding-left: 10px;
  }

  .squarecontainer {
    margin-top: 36%;
  }

  .square span {
    height: 90%;
    font-size: 300%;
    font-weight: bolder;
    padding-top: 33px;
  }

  .square {
    margin-top: 5%;
    width: 13%;
    height: 9%;
    position: relative;
    top: 200%;
    border-radius: 23%;
    display: inline-block;
    background-color: #A593E0;
    color: #FFF;
    text-align: center;
  }

}
/*protrait and landscape media query for the header and sections: about me, projects, skills, resume
and contact me for the landscape for protrait for Nexus 10*/

@media (max-width: 800px) {

  nav a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 80%;
    padding-right: 48px;
    color: #A593E0;
  }

  a {
    text-decoration: none;
    color: #A593E0;
  }

  h2 {
    font-weight: 900;
    font-size: 260%;
    color: #566270;
    padding: 1px;
    margin: 10px;
    text-transform: lowercase;
    position: relative;
  }

  .opening {
    color: #635EDE;
    font-size: 88%;
    font-weight: 800;
    padding-right: 6px;
    padding-left: 10px;
  }

}

/*protrait media query for iPad mini and iPad*/
@media (max-width: 768px) {
  .squarecontainer {
    margin-top: 60%;
  }

}

/*landscape homepage media query for Nexus 5X, Nexus 6P, iPhone 6 plus*/
@media (max-width: 732px) {

  .squarecontainer {
    margin-top: 30%;
  }

  .square {
    animation-name: none;
  }

  .nykethafront {
  	width: 13.7%;
    position: absolute;
    top: 19.4%;
    left: 41%;
    z-index: -1;
  }

}

/*landscape media query for Nexus 5x for header and sections: about me, projects, skills, resume and contact me*/
@media (max-width: 732px) {

  nav a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 80%;
    padding-right: 40px;
    color: #A593E0;
  }

  a {
    text-decoration: none;
    color: #A593E0;
  }

  .opening {
    color: #635EDE;
    font-size: 88%;
    font-weight: 800;
    padding-right: 6px;
    padding-left: 8px;
  }

  .iconp {
    padding: 10px;
    font-size: 100%;
    color: #000;
    font-weight: bold;
  }

  i {
    font-size: 360%;
  }

  .skills {
    font-size: 115%;
    font-weight: bold;
    color: #000;
  }

  .aboutp {
    font-size: 93%;
  }

}

/*landscape homepage media query for iPhone 6 plus*/
@media (max-width: 736px) {
  .squarecontainer {
    margin-top: 30%;
  }

  .square {
    animation-name: none;
  }

  .nykethafront {
    width: 13.7%;
    position: absolute;
    top: 19.4%;
    left: 41%;
    z-index: -1;
  }
}

/*landscape media query for the header and sections: about me, projects, skills, resume and contact me for
iPhone 6, Nexus6P, Galaxy s5, Blackberry Z30, Galaxy Note 3, LG Optimus L70, Miscrosoft Lumina 950, Nokia N9 */
@media (max-width: 667px) {

  nav a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 80%;
    padding-right: 34px;
    color: #A593E0;
  }

  a {
    text-decoration: none;
    color: #A593E0;
  }

  .opening {
    color: #635EDE;
    font-size: 80%;
    font-weight: 800;
    padding-right: 4px;
    padding-left: 8px;
  }

  .skills {
    font-size: 100%;
    font-weight: bold;
    color: #000;
  }

  .iconp {
    padding: 10px;
    font-size: 95%;
    color: #000;
    font-weight: bold;
  }

  i {
    font-size: 350%;
  }

  .aboutp {
  	font-size: 100%;
  }

}

/*landscape media query for Blackberry Z30, Galaxy Note 3, LG Optimus L70
Microsoft Lumia 950, Nokia N9, Nokia Lumina 520, Galaxy S5*/
@media (max-width: 640px) {
  .squarecontainer {
    margin-top: 30%;
  }

  .square {
    animation-name: none;
  }

  .nykethafront {
  	width: 13.7%;
    position: absolute;
    top: 19.4%;
    left: 41%;
    z-index: -1;
  }
}


/*protrait media query for Blackberry playbook, Nexus 7*/
@media (max-width: 600px) {

  nav a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 75%;
    padding-right: 26px;
    color: #A593E0;
  }

  a {
    text-decoration: none;
    color: #A593E0;
  }

  .opening {
    color: #635EDE;
    font-size: 80%;
    font-weight: 800;
    padding-right: 3px;
    padding-left: 8px;
  }

  .contacts {
    display: block;
    float: left;
    padding: 67px;
    text-align: center;
    margin-left: 1%;
    width: 22%;
    height: 8%;
    word-wrap: break-word;
    z-index: -1;
  }

  .contactinfo {
    font-size: 100%;
    font-weight: bold;
    padding: 25px;
    width: 388%;
    left: -20%;
    position: relative;
    z-index: -1;
    box-shadow: 3px 3px 7px #DADADA;
  }

  .contactp {
    margin-left: -22px;
  }

  .grow {
    width: 80%;
    padding: 5px;
  }

  .email {
    top: 5px;
  }

  .phone {
    top: 5px;
  }

  .squarecontainer {
    margin-top: 70%;
  }

}


/*landscape homepage media query for iPhone5 and Nokia Lumia 520 (still a little funky but better)*/
@media (max-width: 568px)
  and (device-height: 320px) {
    .squarecontainer {
      margin-top: 30%;
    }

    .square {
      animation-name: none;
    }

    .nykethafront {
      width: 13.4%;
      position: absolute;
      top: 19%;
      left: 41%;
      z-index: -1;
    }

}

/*landscape media query for iphone 5 and Nokia Lumia 520 for header and sections: about me, projects, skills, resume and contact me*/
@media (max-width: 568px)
  and (device-height: 320px) {

  nav a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 65%;
    padding-right: 26px;
    color: #A593E0;
  }

  a {
    text-decoration: none;
    color: #A593E0;
  }

  .opening {
    color: #635EDE;
    font-size: 75%;
    font-weight: 800;
    padding-right: 3px;
    padding-left: 8px;
  }

  .aboutp {
  	font-size: 80%;
  }

  .skills {
    font-size: 95%;
    font-weight: bold;
    color: #000;
  }

  .iconp {
    padding: 10px;
    font-size: 90%;
    color: #000;
    font-weight: bold;
  }

  i {
    font-size: 300%;
  }

  button {
    border: none;
    padding: 8px 15px 8px 15px;
    box-shadow: 1px 1px 4px #DADADA;
    border-radius: 2px;
    color: #FFF;
    font-size: 45%;
  }

  .projectp {
    font-size: 85%;
  }

  .projecttitle {
    font-size: 100%;
    font-weight: bold;
  }

  .tech {
    font-size: 90%;
  }

  figcaption {
    border: 1px solid #FCFCFC;
    width: 60%;
    right: -11.6%;
    margin-top: -2.4%;
    position: relative;
    z-index: -1;
    background-color: #FCFCFC;
    box-shadow: 3px 3px 7px #DADADA;
  }

}

/*protrait media queries begin*/

/*protrait media query for Nexus 5X, Nexus 6P, iPhone 6 plus */
@media (max-width: 414px) {

  nav a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 60%;
    padding-right: 8px;
    color: #A593E0;
  }

  a {
    text-decoration: none;
    color: #A593E0;
  }

  .opening {
    color: #635EDE;
    font-size: 80%;
    font-weight: 800;
    padding-right: 3px;
    padding-left: 4px;
  }

  .ending {
    font-size: 70%;
    padding-right: 10px;
    text-align: right;
  }

  .squarecontainer {
    margin-top: 80%;
  }

  .square span {
    height: 90%;
    font-size: 198%;
    font-weight: bolder;
    padding-top: 33px;
  }

  .aboutp {
  	font-size: 70%;
  }

  button {
    border: none;
    padding: 8px 15px 8px 15px;
    box-shadow: 1px 1px 4px #DADADA;
    border-radius: 2px;
    color: #FFF;
    font-size: 45%;
  }

  .projectp {
    font-size: 80%;
  }

  .projecttitle {
    font-size: 90%;
    font-weight: bold;
  }

  .tech {
    font-size: 85%;
  }

  figcaption {
    border: 1px solid #FCFCFC;
    width: 69%;
    right: -17%;
    margin-top: -2.4%;
    position: relative;
    z-index: -1;
    background-color: #FCFCFC;
    box-shadow: 3px 3px 7px #DADADA;
  }

  .projects {
    box-shadow: 3px 3px 7px #DADADA;
    display: flex;
    margin-right: 5%;
    align-items: center;
    align-content: center;
    width: 100%;
  }

  h2 {
    font-weight: 900;
    font-size: 230%;
    color: #566270;
    padding: 1px;
    margin: 10px;
    text-transform: lowercase;
    position: relative;
  }

  .petal {
  	width: 9px;
  	height: 9px;
  	border-radius: 15px;
  	float: left;
  }

  .tl {
  	border-bottom-right-radius: 1px;
  }

  .tr {
  	border-bottom-left-radius: 1px;
  }

  .bl {
  	border-top-right-radius: 1px;
  	clear: left;
  }

  .br {
  	border-top-left-radius: 1px;
  }

  .skills {
    font-size: 85%;
    font-weight: bold;
    color: #000;
  }

  .iconp {
    padding: 10px;
    font-size: 80%;
    color: #000;
    font-weight: bold;
  }

  i {
    font-size: 300%;
  }

  .separate {
    font-size: 78%;
  }

  .download {
    font-size: 90%;
  }

  .contacts {
    display: block;
    float: left;
    padding: 65px;
    text-align: center;
    margin-left: 1%;
    width: 15%;
    height: 8%;
    word-wrap: break-word;
    z-index: -1;
  }

  .contactinfo {
    font-size: 100%;
    font-weight: bold;
    padding: 30px;
    width: 370%;
    left: -17%;
    position: relative;
    z-index: -1;
    box-shadow: 3px 3px 7px #DADADA;
  }

  .contactp {
    margin-left: -22px;
  }

  .grow {
    width: 190%;
    padding: 10px;
  }

}

/*protrait media query for LG Optimus L70, iPhone 6 */
@media (max-width: 384px) {

  nav a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: 55%;
    padding-right: 8px;
    color: #A593E0;
  }

  a {
    text-decoration: none;
    color: #A593E0;
  }

  .opening {
    color: #635EDE;
    font-size: 70%;
    font-weight: 800;
    padding-right: 3px;
    padding-left: 4px;
  }

  .contacts {
    display: block;
    float: left;
    padding: 53px;
    text-align: center;
    margin-left: 1%;
    width: 15%;
    height: 8%;
    word-wrap: break-word;
    z-index: -1;
  }

  .contactinfo {
    font-size: 100%;
    font-weight: bold;
    padding: 25px;
    width: 388%;
    left: -20%;
    position: relative;
    z-index: -1;
    box-shadow: 3px 3px 7px #DADADA;
  }

  .contactp {
    margin-left: -22px;
  }

  .grow {
    width: 180%;
    padding: 5px;
  }

  .email {
    top: 5px;
  }

  .phone {
    top: 5px;
  }

}

/*protrait media query for Galaxy S5, Blackberry Z30, Galaxy Note 3, Microsoft Lumia 950, Nokia N9*/
@media (max-width: 360px) {

  nav a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 50%;
    padding-right:8px;
    color: #A593E0;
  }

  a {
    text-decoration: none;
    color: #A593E0;
  }

  .opening {
    color: #635EDE;
    font-size: 60%;
    font-weight: 800;
    padding-right: 3px;
    padding-left: 4px;
  }

  .ending {
    font-size: 70%;
    padding-right: 10px;
    text-align: right;
  }

  .squarecontainer {
    margin-top: 70%;
  }

  .square span {
    height: 90%;
    font-size: 198%;
    font-weight: bolder;
    padding-top: 33px;
  }

  .aboutp {
  	font-size: 70%;
  }

  button {
    border: none;
    padding: 8px 15px 8px 15px;
    box-shadow: 1px 1px 4px #DADADA;
    border-radius: 2px;
    color: #FFF;
    font-size: 45%;
  }

  .projectp {
    font-size: 80%;
  }

  .projecttitle {
    font-size: 90%;
    font-weight: bold;
  }

  .tech {
    font-size: 85%;
  }

  figcaption {
    border: 1px solid #FCFCFC;
    width: 60%;
    right: -21.5%;
    margin-top: -2.4%;
    position: relative;
    z-index: -1;
    background-color: #FCFCFC;
    box-shadow: 3px 3px 7px #DADADA;
  }

  .projects {
    box-shadow: 3px 3px 7px #DADADA;
    display: flex;
    margin-right: 5%;
    align-items: center;
    align-content: center;
    width: 100%;
  }

  h2 {
    font-weight: 900;
    font-size: 230%;
    color: #566270;
    padding: 1px;
    margin: 10px;
    text-transform: lowercase;
    position: relative;
  }

  .petal {
  	width: 9px;
  	height: 9px;
  	border-radius: 15px;
  	float: left;
  }

  .tl {
  	border-bottom-right-radius: 1px;
  }

  .tr {
  	border-bottom-left-radius: 1px;
  }

  .bl {
  	border-top-right-radius: 1px;
  	clear: left;
  }

  .br {
  	border-top-left-radius: 1px;
  }

  .skills {
    font-size: 85%;
    font-weight: bold;
    color: #000;
  }

  .iconp {
    padding: 15px;
    font-size: 70%;
    color: #000;
    font-weight: bold;
  }

  i {
    font-size: 200%;
  }

  .separate {
    font-size: 78%;
  }

  .download {
    font-size: 90%;
  }

  .contacts {
    display: block;
    float: left;
    padding: 50px;
    text-align: center;
    margin-left: 1%;
    width: 15%;
    height: 8%;
    word-wrap: break-word;
    z-index: -1;
  }

  .contactinfo {
    font-size: 100%;
    font-weight: bold;
    padding: 30px;
    width: 388%;
    left: -20%;
    position: relative;
    z-index: -1;
    box-shadow: 3px 3px 7px #DADADA;
  }

  .contactp {
    margin-left: -22px;
  }

  .grow {
    width: 190%;
    padding: 10px;
  }

}

/*protrait media query for iPhone 5 and Nokia Lumina 520 */
@media (max-width: 320px) {

  nav a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 80%;
    padding-right: 15px;
    color: #A593E0;
  }

  .opening {
    color: #635EDE;
    font-size: 90%;
    font-weight: 800;
    padding-right: 5px;
    padding-left: 5px;
  }

  .squarecontainer {
    margin-top: 80%;
  }

  .square span {
    height: 90%;
    font-size: 180%;
    font-weight: bolder;
    padding-top: 33px;
  }

  .square {
    margin-top: 2%;
    width: 12%;
    position: relative;
    top: 200%;
    border-radius: 30%;
    display: inline-block;
    background-color: #A593E0;
    color: #FFF;
    text-align: center;
  }

  .aboutp {
  	font-size: 70%;
  }

  .iconp {
    padding: 8px;
    font-size: 75%;
    color: #000;
    font-weight: bold;
  }

  i {
    font-size: 250%;
  }

  .contacts {
    display: block;
    float: left;
    padding: 44px;
    text-align: center;
    margin-left: 1%;
    width: 15%;
    height: 8%;
    word-wrap: break-word;
    z-index: -1;
  }

  .contactinfo {
    font-size: 90%;
    font-weight: bold;
    padding: 30px;
    width: 388%;
    left: -20%;
    position: relative;
    z-index: -1;
    box-shadow: none;
    box-shadow: 3px 3px 7px #DADADA;
  }

  .contactp {
    margin-left: -22px;
  }

  .grow {
    width: 160%;
    padding: 10px;
  }

}
