.git {
  background-color: #D4AF37;
}

.site {
  background-color: #CE1B74;
}

button {
  border: none;
  padding: 8px 15px 8px 15px;
  box-shadow: 1px 1px 4px #DADADA;
  border-radius: 2px;
  color: #FFF;
  font-size: 14px;
}

.projects {
  box-shadow: 3px 3px 7px #DADADA;
  float: left;
  display: block;
  margin-right: 65px;
}


.tech {
  font-size: 22px;
}

.flowerthree {
	float: right;
  width: 39.7em;
  top: 80px;
  right: 395px;
  position: absolute;
}

.flowerthree.violet > .petal {
  background: #9b59b6;
}

p {
  font-size: 20px;
  left: 30px;
}

.projecttitle {
  font-size: 23px;
  font-weight: bold;
}

figure {
  padding: 40px;
  margin: 50px;
}


.fourth {
  margin-top: -16px;
}

.third {
  margin-top: -50px;
}
