.git {
  background-color: #D4AF37;
}

.site {
  background-color: #CE1B74;
}

button {
  border: none;
  padding: 8px 15px 8px 15px;
  box-shadow: 1px 1px 4px #DADADA;
  border-radius: 2px;
  color: #FFF;
  font-size: 50%;
}

.projects {
  box-shadow: 3px 3px 7px #DADADA;
  display: flex;
  margin-right: 5%;
  align-items: center;
  align-content: center;
  width: 80%;
}

.tech {
  font-size: 100%;
}

.flowerthreecontainer {
	position: relative;
	display: flex;
	top: 1%;
	z-index: -1;
}

.flowerthree {
  width: 39.7em;
  right: 1%;
	position: relative;
}

.flowerthree.violet > .petal {
  background: #9b59b6;
}

p {
  font-size: 90%;
}

.projecttitle {
  font-size: 110%;
  font-weight: bold;
}

figure {
  padding: 3%;
}

figcaption {
  border: 1px solid #FCFCFC;
  width: 69%;
  right: -6.8%;
  margin-top: -2.4%;
  position: relative;
  z-index: -1;
  background-color: #FCFCFC;
  box-shadow: 3px 3px 7px #DADADA;
}

.fourth {
  margin-top: -1%;
}

.third {
  margin-bottom: -1%;
}

.first {
  margin-top: -3%; 
}
