.contactinfo {
  font-size: 130%;
  font-weight: lighter;
}

.grow {
  display: block;
  float: left;
  width: 10%;
  height: 8%;
  padding: 21.5px;
}

.grow:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.flowerfivecontainer {
	position: relative;
	display: flex;
	top: 9.7%;
	z-index: -1;
}

.flowerfive {
  width: 39.7em;
  right: 0.6%;
	position: relative;
}

.flowerfive.violet > .petal {
  	background: #9b59b6;
}

.contactcontainer {
  position: relative;
}
