html {
  font-family: 'Muli', sans-serif;
}

body {
  margin: 0 auto;
  max-width: 70em;
  /*background-color: #EFE6F8;*/
  /*background-color: #fffcf0;*/
  /*background-color: #f4f4f4;*/
  /*background-color: #f9cdad;*/
  /*background-color: #fec9c9;*/
  background-color: #FFFFF3;
}

h1 {
  font-weight: 500;
  font-style: oblique;
  font-size: 5em;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  font-size: 1.5em;
  padding-right: 2.4em;
  padding-left: 2.4em;
  /*color: #15B5CB;*/
  /*color: #dedcee;*/
  /*color: #ee2560;*/
  /*color: #c8c8a9;*/
  /*color: #ee6e9f;*/
  color: #A593E0;
}

a {
  text-decoration: none;
  /*color: #635EDE;*/
  /*color: #fbd14b;*/
  /*color: #ee2560;*/
  /*color: #fe4365;*/
  /*color: #1a1a1a;*/
  color: #A593E0;
}


nav a:hover {
  /*background-color: #CE1B74;*/
  /*background-color: #6a60a9;*/
  /*background: #ee2560;*/
  padding: 5%;
}

h2 {
  font-weight: 900;
  font-size: 400%;
  /*color:#C44E90;*/
  /*color: #fbd14b;*/
  /*color: #08182b;*/
  /*color: #fe4365;*/
  /*color: #1a1a1a;*/
  color: #566270; 
  padding: 1px;
  margin: 10px;
  text-transform: lowercase;
}

header {
  overflow: hidden;
  /*background-color: #ECE;*/
  /*background-color: #6a60a9;*/
  /*background-color: #45d9fd;*/
  /*background-color: #fc9d9a;*/
  /*background-color: #6d9d88;*/
  background-color: #E0E3DA;
  position: fixed;
  height: 70px;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  /*background-color: #ECE;*/
  /*background-color: #6a60a9;*/
  /*background-color: #45d9fd;*/
  /*background-color: #fc9d9a;*/
  /*background-color: #6d9d88;*/
  background-color: #E0E3DA;
  width: 100vw;
  height: 35px;
  left: 0;
  bottom: 0;
  position: fixed;
}


.opening {
  color: #635EDE;
  font-size: 1.8em;
  font-weight: 800;
  padding-right: .3em;
  padding-left: .8em;
}

.ending {
  font-size: 1em;
  padding-right: 1.2em;
  text-align: right;
}

.flower.violet > .petal {
  	background: #9b59b6;
}

.petal {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	float: left;
}

.tl {
	border-bottom-right-radius: 0px;
}

.tr {
	border-bottom-left-radius: 0px;
}

.bl {
	border-top-right-radius: 0px;
	clear: left;
}

.br {
	border-top-left-radius: 0px;
}
