.flower.violet > .petal {
  	background: #9b59b6;
}

.petal {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	float: left;
}

.tl {
	border-bottom-right-radius: 0px;
}

.tr {
	border-bottom-left-radius: 0px;
}

.bl {
	border-top-right-radius: 0px;
	clear: left;
}

.br {
	border-top-left-radius: 0px;
}

.flower {
	float: right;
  width: 39.7em;
  top: 80px;
  right: 455px;
  position: absolute;
}

img {
  padding-right: 30px; 
}
