html {
  font-family: 'Muli', sans-serif;
}

div {
  margin-top: 5em;
}

.square span {
  display: block;
  text-align: center;
  height: 100%;
  font-size: 126px;
  padding-top: 12px;
}

.square {
  width: 150px;
  height: 150px;
  position: relative;
  top: 120px;
  border-radius: 16px;
  display: inline-block;
  background-color: purple;
  color: white;

  animation-name: bounce;
  -webkit-animation-name: bounce;
  -moz-webkit-animation: bounce;
  animation-duration: 4s;
  -webkit-animation-duration: 4s;
  -moz-webkit-animation-duration: 4s;
  animation-timing-function: linear;
  -webkit-timing-function: linear;
  -moz-webkit-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-iteration-count: infinite;
  -moz-webkit-iteration-count: infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}
@-moz-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}





/*.face {
  height: 120px;
  width: 130px;
  background: #323232;
  border-radius: 90px;
  position: relative;

}

.eye {
  background: yellow;
  height: 40px;
  width: 40px;
  top: 20px;
  left: 10px;
  position: absolute;

}

#right-eye {
  border-radius: 60px;
  z-index: 0;
  position: absolute;
}

#left-eye {
  border-radius: 60px;
  z-index: 0;
}*/
