html {
  font-family: 'Muli', sans-serif;
}

body {
  margin: 0 auto;
  max-width: 50em;
  background-color: #FFF;
}

h1 {
  font-weight: 500;
  font-style: oblique;
  font-size: 5em;

}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  font-size: 1.5em;
  padding: .5em;
  color: #15B5CB;
}

nav a:hover {
  background-color: #CE1B74;
}

h2 {
  font-weight: 900;
  font-size: 400%;
  color:#C44E90;
  padding: 1px;
  margin: 10px;
  text-transform: lowercase;
}


li {
  float: right;
  display: block;
}

li a {
  text-decoration:none;
}

/*.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}*/

span {
  margin: 1%;
  padding: 1%;
  width: 2%;
  height:3%;
  background-position:40px 15px;
  alt: hidden;
}
