h3 {
  font-size: 25px;
  font-weight: lighter;
}

img {
  height: 90px;
  width: 105px;
  display: block;
  float: left;
  padding: 21.5px;
}

.grow:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
