html {
  font-family: 'Muli', sans-serif;
}

body {
  margin: 0 auto;
  max-width: 70em;
  /*background-color: #EFE6F8;*/
}

h1 {
  font-weight: 500;
  font-style: oblique;
  font-size: 5em;

}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  font-size: 1.5em;
  padding-right: 2.4em;
  padding-left: 2.4em;
  color: #15B5CB;
}

a {
  text-decoration: none;
  color: #635EDE; 
}


nav a:hover {
  background-color: #CE1B74;
  padding: 5%;
}

h2 {
  font-weight: 900;
  font-size: 400%;
  color:#C44E90;
  padding: 1px;
  margin: 10px;
  text-transform: lowercase;
}

header {
  overflow: hidden;
  background-color: #ECE;
  position: fixed;
  height: 70px;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  background-color: #ECE;
  width: 100vw;
  height: 35px;
  left: 0;
  bottom: 0;
  position: fixed;
}


.opening {
  color: #635EDE;
  font-size: 1.8em;
  font-weight: 800;
  padding-right: .3em;
}

.ending {
  font-size: 1em;
  padding-right: 1.2em;
  text-align: right;
}
