html {
  font-family: 'Muli', sans-serif;
}

body {
  margin: 0 auto;
  max-width: 50em;
  background-color: #FFF;
}

h1 {
  font-weight: 500;
  font-style: oblique;
  font-size: 5em;

}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  font-size: 1.5em;
  padding: .5em;
  color: #15B5CB;
}

nav a:hover {
  background-color: #CE1B74;
}

h2 {
  font-weight: 900;
  font-size: 400%;
  color:#C44E90;
  padding: 1px;
  margin: 10px;
  text-transform: lowercase;
}

/*face {
  height: 120px;
  width: 130px;
  background: #323232;
  border-radius: 90px;
  position: relative;

}

.eye {
  background: yellow;
  height: 40px;
  width: 40px;
  top: 20px;
  left: 10px;
  position: absolute;

}

#right-eye {
  border-radius: 60px;
  z-index: 0;
  position: absolute;
}

#left-eye {
  border-radius: 60px;
  z-index: 0;
}*/

li {
  display: block;
}

li a {
  text-decoration:none;
}

span {
  margin: 2%;
  padding: 2%;
  width: 3%;
  height: 4%;
  background-position:40px 15px;
  alt: hidden;
}

.email, .tweet, .linked, .github {
  height: 33px;
  width: 35px;
  padding: 15px;

}


/*clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}*/
